:root {
    /* text color */
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgb(238, 74, 43);
    --border-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-center-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html, body {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding: 0 5px;
    width: 16.66667%;
}

.grid__column-2-4 {
    padding: 0 5px;
    width: 20%;
}

.grid__column-10 {
    padding: 0 5px;
    width: 83.33334%;
}

@keyframes  fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(0.75);
    }
    to {
        transform: scale(1);
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn ease-in 0.2s;
    z-index: 5;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.modal__body {
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    border-radius: 5px;
}

/* button */
.btn {
    min-width: 140px;
    height: 34px;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 1.5px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
    outline: none;
    border: none;
}

.btn-auth-back:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/* selection-input */
.select-input {
    height: 34px;
    min-width: 120px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
